@page
@model IndexModel
@{
    ViewData["Title"] = "Головна";
}

<h1>Вітаємо у додатку!</h1>

<p>Цей веб-застосунок створений відповідно до таких вимог:</p>

<ul>
    <li>Складається з двох проектів:
        <ul>
            <li>Веб-додаток</li>
            <li>Бібліотека класів</li>
        </ul>
    </li>
    <li>Розгортання виконується на операційній системі Linux (Ubuntu/Debian).</li>
    <li>Інтерфейс має наступні сторінки:
        <ul>
            <li>Сторінка вітання (ця сторінка).</li>
            <li>Сторінки входу, реєстрації та профілю користувача.</li>
            <li>3 сторінки для кожної підпрограми (Lab1, Lab2, Lab3) з описом і полями вводу/виводу.</li>
        </ul>
    </li>
    <li>Доступ до сторінок підпрограм можливий тільки після авторизації.</li>
</ul>

<p>Переходьте на сторінки програм після входу:</p>

<ul>
    <li><a asp-page="/Lab1">Лабораторна 1</a></li>
    <li><a asp-page="/Lab2">Лабораторна 2</a></li>
    <li><a asp-page="/Lab3">Лабораторна 3</a></li>
</ul>