@page
@model Lab1Model
@{
    ViewData["Title"] = "Лабораторна 1";
}

<h1>Лабораторна 1</h1>

<p>Дано N цілих чисел. Кожне з них можна один раз змінити не більше ніж на цілу величину L як у бік збільшення, так і у бік зменшення або залишити без зміни. Якщо після такої операції деякі з чисел виявляються рівними, вони зараховуються за одне. З цими числами здійснили вказану операцію таким чином, що залишилася мінімально можлива кількість чисел. Потрібно написати програму визначення цієї кількості.</p>

