@page
@model WebApplication1.Pages.lab2Model
@{

    <p>Ви любите грати в ігри? Звісно, любите! Але про цю гру, можливо, нічого не знаєте і навіть не чули. Що ж, розповімо про нову гру. На дошці написано послідовність n цілих чисел. Грають двоє. На черговому ході гравець вибирає число з правого або з лівого краю послідовності, потім це число стирається і послідовність стає на одне число менше, а перехід переходить до противника. Виграє той, хто набере у сумі більше. Написати програму, що визначає переможця у конкретній грі, за умови, що гравці гратимуть оптимально.</p>
}
