@page
@model WebApplication1.Pages.Lab3Model
@{

    <p>У середні віки в замках Європи був популярний такий вид страти: в лабіринт, в якому знаходився тигр, заводили раба. Рабу була відома карта лабіринту та його первісне розташування. Тигр мав дуже тонкий нюх, тобто він знав, де знаходиться раб у будь-який момент часу і міг у найкоротший час наздогнати раба і з'їсти, якщо міг.
        Дана схема лабіринту як таблиці N×M. Вхід у лабіринт знаходиться у лівій верхній клітині. У цьому місці знаходиться раб в початковий час. Вихід із лабіринту знаходиться у правій нижній клітині. Гарантується, що з входу до виходу є шлях і що тигр перебуває у вільній клітині лабіринту. Також відомо, що лабіринт обмежений суцільною стіною по периметру.
        Необхідно визначити довжину найкоротшого шляху раба до виходу, і чи зможе раб гарантовано вибратися з лабіринту живим, якщо за одиницю часу як раб, так і тигр можуть переміститися в сусідню сторону клітину в довільному вільному напрямку (тобто туди, де немає стіни) .
    </p>
}
